body {
  background-attachment: fixed;
  color: #000000;
  margin: 0 20%; 
  width: 800px;
  height: 100%;
}

.some-cool-div {
  text-align: center;
  justify-content: center;
  display: flex;
  background: #E8E8E8;
  width: 100%;
  height: 100%;
}
