body {
  flex-direction: column;
  margin: auto;
  background-attachment: fixed;
  color: #000000;
  max-width: 800px;
  width: 100%;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

.some-cool-div {
  flex-direction: column;
  align-items: center;
  display: flex;
  background: #E8E8E8;
  width: 100%;
  height: 100%;
}

.topbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #F3F3F3;
  top: 0;
  position: sticky;
  background: linear-gradient(#3D3D3D 48%, #595959 48%, #343434);
  z-index: 100;
  width: 100%;
}

.topbar a {
  vertical-align: center;
  margin: 0 6px; 
}

.topbar a.now {
  font-weight: bold;
}

.topbar .logo {
  vertical-align: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.slinks img {
  width: 50px;
}

@media (orientation: landscape) {
    body {
        width: 800px;
    }
}

@media (orientation: portrait) {
    body {
        width: 500px;
    }
}
